PORT=3002
EVAL_BASE_URL=http://20.207.122.201/evaluation-service
AUTH_EMAIL=your-college-email@example.edu
AUTH_NAME=your name
AUTH_ROLL_NO=your-roll-no
AUTH_ACCESS_CODE=from-assessment-mail
AUTH_CLIENT_ID=from-register-api
AUTH_CLIENT_SECRET=from-register-api
REQUEST_TIMEOUT_MS=7000
